@mixin top-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  .title {
    position: relative;
    padding-bottom: 5px;
    color: #ffffff;
    &::after {
      position: absolute;
      content: "";
      background-color: blue;
      width: 20%;
      height: 2px;
      top: 101%;
      left: 0;
    }
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
